/*
Color pallete:
Spanish Orange:       #ED6D0D
American Yellow:      #F2A805
Peach:                #FEE4B5
Pistachio:            #9BD185
Mantis:               #7CC26A
Palm Leaf:            #649748
*/
body {
  background: rgb(64, 73, 63);
  background-image: url("vegetable-garden.jpg"); 
  font-family:  Arial, Helvetica, sans-serif;
}
header {
  background: black;
  padding: 10px 20px;
}
footer {
  font-weight: bolder;
  text-shadow: 4px 4px 10px  rgba(255, 255, 255, 1);

}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  display: inline-block;
  color: white;
  margin-right: 20px;
}
h1 {
  text-shadow: 4px 4px 10px  rgba(13, 158, 0, 0.384);
  color:#F2A805;
}
p {
  font-weight: bold;
}
pre {
  font: 17px arial, sans-serif;


}
img {
  max-width:75%;
  max-height:75%;
  padding: 10px;
  border-radius: 8px;
}
section {
  padding:10px;
  background: rgb(150, 150, 150);
  display: absolute;
  box-shadow: 0px 0px 50px 5px rgba(0,0,0,1);
  border: 10px solid black;
}
button {
  background: gray;
  border: ridge;
  color: white;
}

.row {
    
  display: flex;
  flex-wrap: wrap;
}


.column{
  flex-grow: 1;
  
  min-width: 320px;
  width: 50%;
  text-align: left;

}